@import url("https://fonts.googleapis.com/css2?family=Jura&family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: Jura;
  font-size: 1rem;
  text-align: center;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  margin-top: 2rem;
  color: white;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 10rem;
  margin: 8rem 5rem 0.5rem 5rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.5), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
  background-color: rgb(53, 57, 53);
}

.info-card .player-display {
  background: rgb(27, 18, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.player-display h1 {
  color: white;
  font-size: 1.2rem;
}

.score-display h2 {
  color: white;
  font-size: 1rem;
}

.show-selection {
  height: 3rem;
  font-size: 2.5rem;
  margin: 1rem;
}

.result-display {
  margin: 4rem auto 0 auto;
}

.result-display .line {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  border: 1px solid black;
  padding: 0;
  margin-bottom: 16px;
}

/* .lineUp {
  animation: 2s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} */


.flipX {
  animation: 1s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}

.btn-choice {
  margin: 4rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-choice button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  background-color: rgb(27, 18, 18);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-choice button:active {
  box-shadow: 0 5px 5px rgb(51, 51, 51);
  transform: translateY(0.4rem);
}

.rules-container {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rules-container button {
  width: 7vw;
  height: 5vh;
  border: none;
  font-size: 0.8rem;
  color: white;
  background-color: rgb(27, 18, 18);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rules-container .rules {
  display: inline;
  color: white;
  background-color: rgb(27, 18, 18);
  text-align: left;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {

  .info-container {
    height: 13rem;
  }

  .info-card {
    width: 8rem;
    margin: 6rem 3rem 3rem 3rem;
    height: 8rem;
    padding: 5rem auto;
    display: flex;
    justify-content: space-between;
  }

  .player-display h1 {
    color: white;
    font-size: 1rem;
  }
  
  .score-display h2 {
    color: white;
    font-size: 0.8rem;
    padding-bottom: 0.6rem;
  }

  .show-selection {
    height: 1rem;
    font-size: 1.4rem;
    margin: 0.5rem;
    padding-bottom: 2rem;
  }

  .btn-choice button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
    font-size: 1.4rem;
    background-color: rgb(27, 18, 18);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
}